@using RoyalEstate.Web.Startup
@model RoyalEstate.Web.Models.Districts.DistrictsIndexVm
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = L("Districts");
    ViewBag.ActiveMenu = PageNames.Districts;
}

@section styles
{
    <style>
        #districtSearchForm select {
            height: 3rem
        }
    </style>
}

<section class="content-header text-right">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2>>@L("Districts")</h2>
            </div>
        </div>
    </div>
</section>

<section class="content text-right">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <button class="btn btn-success" data-toggle="modal" data-target="#mdlCreateDistrict">ثبت محله جدید</button>
                    </div>
                </div>
                <div class="card-body">
                    <form id="DistrictSearchForm">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>شهر</label>
                                    @Html.DropDownList("CityId", Model.Cities, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>وضعیت</label>
                                    <select name="isactive" class="form-control">
                                        <option value="">همه</option>
                                        <option value="">فعال</option>
                                        <option value="">غیرفعال</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="table-responsive">
                        <table id="tblDistricts" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>@L("Name")</th>
                                    <th>@L("City")</th>
                                    <th>@L("IsActive")</th>
                                    <th style="width: 150px">@L("Actions")</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync("~/Views/Districts/_CreateDistrictModal.cshtml", Model.Cities)

<div class="modal fade" id="mdlEditDistrict" tabindex="-1" role="dialog" aria-labelledby="DistrictEditModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/view-resources/Views/Districts/Index.js" asp-append-version="true"></script>
    <script>
        $(() => {
            $("#districtSearchForm select").select2();
        })
    </script>
}
