@using RoyalEstate.Web.Startup
@using RoyalEstate.Entities
@model System.Collections.Generic.List<ServiceType>
@{
    ViewBag.Title = L("Estates");
    ViewBag.CurrentPageName = PageNames.Estates;
}

@section styles
{

    <link rel="stylesheet" href="~/libs/select2/css/select2.min.css" asp-append-version="true" />
    @*<link href="~/view-resources/Views/_Bundles/bootstrap-rtl.min.css" rel="stylesheet" />*@
    <style>
        ul#ulCategories li {
            padding: 0.7rem 0.5rem !important;
        }

        #newEstateSection ul {
            font-size: 1rem;
            font-weight: bold
        }

        #btnReturnToCategories {
            color: #777777;
            font-weight: bold;
            transition: color 0.5s
        }

        /*#estatesSection .card-body {
            height: 7rem;
            background-repeat: no-repeat;
            background-size: cover
        }*/
        .estateCover {
            background-repeat: no-repeat;
            background-size: cover;
            background-clip: content-box;
            height: 7rem;
        }

        #btnReturnToCategories:hover {
            color: black;
        }

        .estateCard {
            height: 8rem !important;
            background-color: #f5f5f5;
        }

        .estateCardBody {
            height: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }

        #estatesSection a {
            color: black;
        }
    </style>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2>@L("AllEstateFiles")</h2>
            </div>
        </div>
    </div>
</section>



<section class="content">
    <div class="container-fluid  ">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header  ">
                        <button id="btnNewEstate" class="btn btn-success">پرونده جدید</button>
                    </div>
                    <div class="card-body">
                        <section id="newEstateSection" style="display: none">
                            <div class="row justify-content-end">
                                <button class="btn close" style="font-size: 3rem">&times;</button>
                            </div>

                            <div class="row justify-content-center">
                                <div class="col-sm-12 col-md-6 col-lg-4">
                                    <h5>دسته پرونده را انتخاب کنید</h5>
                                    <ul id="ulCategories" class="nav flex-column">
                                        @foreach (var item in Model)
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="@("#serviceType"+item.Id)">@L(item.Name)</a>
                                            </li>
                                        }
                                    </ul>
                                    <div class="tab-content d-none">
                                        <button id="btnReturnToCategories" class="btn btn-link">
                                            <i class="fa fa-arrow-circle-right"></i>&nbsp;
                                            بازگشت به همه دسته‌بندی‌ها
                                        </button>
                                        @foreach (var item in Model)
                                        {
                                            <div class="tab-pane container" id="@("serviceType"+item.Id)">
                                                <label>@L(item.Name)</label>
                                                <ul class="list-group ">
                                                    @foreach (var estateType in item.EstateTypes)
                                                    {
                                                        <li class="list-group-item">
                                                            <a href="#" class="newEstateLink" data-EstateTypeId="@estateType.Id">
                                                                <i class="fa fa-building"></i>
                                                                @L(estateType.Name)
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>

                            @using (Html.BeginForm("NewEstate", "Estates", FormMethod.Post, new { id = "frmNew", @class = "d-none" }))
                            {
                                @Html.AntiForgeryToken()
                                <input name="estateTypeId" type="hidden" value="" />
                            }
                        </section>
                        <div id="loadSizes" class="">
                            <div class="d-block d-sm-none" data-loadSize="10"></div>
                            <div class="d-none d-sm-block d-xl-none" data-loadSize="10"></div>
                            <div class="d-none d-xl-block" data-loadSize="12"></div>
                        </div>
                        <div id="estatesSection" class="row">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts
{
    @*<script src="/libs/jquery.form/jquery.form.min.js"></script>*@
    <script src="/libs/persian-date/dist/persian-date.min.js" asp-append-version="true"></script>
    <script src="~/libs/select2/js/select2.full.min.js" asp-append-version="true"></script>

    <script>
        $(() => {
            $("#btnNewEstate").click(function () {
                $("#newEstateSection").show(500);
                $("#estatesSection").fadeOut(500);
            });

            $("#newEstateSection button.close").click(function () {
                $("#newEstateSection").hide(500);
                $("#estatesSection").fadeIn(500);
            });


            $("#newEstateSection a.nav-link").click(function () {
                $("#ulCategories").addClass("d-none");
                $("#newEstateSection div.tab-content").removeClass("d-none");
            });

            $("#btnReturnToCategories").click(function () {
                $("#ulCategories").removeClass("d-none");
                $("#ulCategories .active").removeClass("active");
                $("#newEstateSection div.tab-pane").removeClass("fade active show");
                $("#newEstateSection div.tab-content").addClass("d-none");
            });

            $("a.newEstateLink").click(function () {
                $("#IsBusy").modal("show");
                let estateTypeId = $(this).attr("data-EstateTypeId");
                $("#frmNew input[name='estateTypeId']").val(estateTypeId);
                $("#frmNew").submit();
            });
        })
    </script>

    <script src="~/view-resources/Views/Estates/Index.js" asp-append-version="true"></script>
}