@using RoyalEstate.Web.Startup
@using RoyalEstate.Estates.Dto
@model System.Collections.Generic.List<EstateCategoryDto>
@{
    ViewBag.Title = L("Estates");
    ViewBag.CurrentPageName = PageNames.Estates;
    var estateTypes = Model.SelectMany(s => s.EstateTypes);
}

@section styles
{

    <link rel="stylesheet" href="~/libs/select2/css/select2.min.css" asp-append-version="true" />    
    <style>
        ul#ulCategories li {
            padding: 0.7rem 0.5rem !important;
        }

        #mdlNewEstate ul {
            font-size: 1rem;
            font-weight: bold
        }

        #btnReturnToCategories {
            color: #777777;
            font-weight: bold;
            transition: color 0.5s
        }

        /*#estatesSection .card-body {
            height: 7rem;
            background-repeat: no-repeat;
            background-size: cover
        }*/
        .estateCover {
            background-repeat: no-repeat;
            background-size: cover;
            background-clip: content-box;
            height: 7rem;
        }

        #btnReturnToCategories:hover {
            color: black;
        }

        .estateCard {
            height: 8rem !important;
            background-color: #f5f5f5;
        }

        .estateCardBody {
            height: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }

        #estatesSection a {
            color: black;
        }
    </style>
}

@*<section class="content-header text-right">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2>@L("AllEstateFiles")</h2>
            </div>
        </div>
    </div>
</section>*@



<section class="content text-right p-0">
    <div class="container-fluid  p-0">
        <div class="row mx-0 p-0">
            <div class="col-12 p-0">
                <div class="card">
                    <div id="myCardHeader" class="card-header " style="position:sticky; z-index:3; background-color:#eee; max-height:70vh; overflow-y:scroll">
                        <div class="row">
                            <div class="col-2">
                                <button class="btn btn-info" data-toggle="collapse" data-target="#filtersBox">فیلترها</button>
                            </div>
                            <div class="col-10 ">
                                <form id="frmSearch">
                                    <div class="input-group " style="direction:ltr !important">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-primary">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                        <input name="term" class="form-control" placeholder="@L("Search")" />
                                    </div>
                                </form>
                            </div>
                            
                        </div>
                        <div id="filtersBox" class="collapse text-right">
                            <form id="frmFilters" class="d-none mt-2">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>@L("EstateType")</label>
                                            <select name="estateTypeId" class="form-control" onchange="filterByEstateType(this)">
                                                <option value="">همه</option>
                                                @foreach (var estateType in estateTypes)
                                                {
                                                    <option value="@estateType.Id">@L(estateType.Name)</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>@L("City")</label>
                                                    <select name="cityId" class="form-control"></select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>@L("District")</label>
                                                    <select name="districtId" class="form-control"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group filter-area d-none">
                                            <label>@L("AreaM2")</label>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <input type="number" name="minArea" class="form-control" placeholder="حداقل" />
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="number" min="maxArea" class="form-control" placeholder="حداکثر" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group filter-rooms d-none">
                                                    <label>@L("Rooms")</label>
                                                    <input type="number" name="rooms" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group filter-floor d-none">
                                                    <label>@L("Floor")</label>
                                                    <input type="number" name="floor" class="form-control" />
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group filter-price d-none">
                                            <label>@L("PricePerM2")</label>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <input type="number" name="minPrice" class="form-control" placeholder="حداقل" />
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="number" name="maxPrice" class="form-control" placeholder="حداکثر" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group filter-rent d-none">
                                            <label>@L("Rent")</label>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <input type="number" name="minRent" class="form-control" placeholder="حداقل" />
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="number" name="maxRent" class="form-control" placeholder="حداکثر" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group filter-deposit d-none">
                                            <label>@L("Deposit")</label>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <input type="number" name="minDeposit" class="form-control" placeholder="حداقل" />
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="number" name="maxDeposit" class="form-control" placeholder="حداکثر" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group form-inline filter-elevator d-none">
                                                    <label class="mx-2">@L("Elevator")</label>
                                                    <input type="checkbox" name="elevator" class="form-control">
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group form-inline filter-parking d-none">
                                                    <label class="mx-2">@L("Parking")</label>
                                                    <input type="checkbox" name="parking" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-end">
                                    <div>
                                        <button type="button" id="btnResetFilters" class="btn btn-info"><i class="fa fa-undo"></i></button>
                                        <button type="submit" class="btn btn-success"><i class="fa fa-check"></i></button>
                                    </div>
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="modal fade" id="mdlNewEstate">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button class="btn close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body text-right">                                        
                                        <h5>دسته پرونده را انتخاب کنید</h5>
                                        <ul id="ulCategories" class="nav flex-column">
                                            @foreach (var item in Model)
                                            {
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="@("#serviceType"+item.Id)">@L(item.Name)</a>
                                                </li>
                                            }
                                        </ul>
                                        <div class="tab-content d-none">
                                            <button id="btnReturnToCategories" class="btn btn-link">
                                                <i class="fa fa-arrow-circle-right"></i>&nbsp;
                                                بازگشت به همه دسته‌بندی‌ها
                                            </button>
                                            @foreach (var item in Model)
                                            {
                                                <div class="tab-pane container" id="@("serviceType"+item.Id)">
                                                    <label>@L(item.Name)</label>
                                                    <ul class="list-group ">
                                                        @foreach (var estateType in item.EstateTypes)
                                                        {
                                                            <li class="list-group-item">
                                                                <a href="#" class="newEstateLink" data-EstateTypeId="@estateType.Id">
                                                                    <i class="fa fa-building"></i>
                                                                    @L(estateType.Name)
                                                                </a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>                           

                            

                            @using (Html.BeginForm("NewEstate", "Estates", FormMethod.Post, new { id = "frmNew", @class = "d-none" }))
                            {
                                @Html.AntiForgeryToken()
                                <input name="estateTypeId" type="hidden" value="" />
                            }
                        </div>
                        <div id="loadSizes" class="">
                            <div class="d-block d-sm-none" data-loadSize="10"></div>
                            <div class="d-none d-sm-block d-xl-none" data-loadSize="10"></div>
                            <div class="d-none d-xl-block" data-loadSize="12"></div>
                        </div>                        
                        <div id="estatesSection" class="row">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts
{
    @*<script src="/libs/jquery.form/jquery.form.min.js"></script>*@
    <script src="/libs/persian-date/dist/persian-date.min.js" asp-append-version="true"></script>
    <script src="~/libs/select2/js/select2.full.min.js" asp-append-version="true"></script>

    <script>
        let estateTypes = @Html.Raw(Json.Serialize(estateTypes));
        
        $(() => {
            $("#myCardHeader")[0].style.top = $("nav.main-header")[0].offsetHeight+'px';
            $("#filtersBox").on('show.bs.collapse', function () {
                $("#filtersBox>form").removeClass("d-none");
            });
            $("#filtersBox").on('hide.bs.collapse', function () {
                $("#filtersBox>form").addClass("d-none");
            });

            $("nav.main-header").append(`
<ul class="navbar-nav p-0 mr-auto">
<li class="nav-item">
<button id="btnNewEstate" class="btn btn-success">@L("NewEstate") <i class="fa fa-plus"></i></button>
</li>
</ul>`);
            $("#btnNewEstate").click(function () {
                $("#ulCategories").removeClass("d-none");
                $("#ulCategories .active").removeClass("active");
                $("#mdlNewEstate div.tab-pane").removeClass("fade active show");
                $("#mdlNewEstate div.tab-content").addClass("d-none");
                $("#mdlNewEstate").modal("show");
            });

            $("#mdlNewEstate a.nav-link").click(function () {
                $("#ulCategories").addClass("d-none");
                $("#mdlNewEstate div.tab-content").removeClass("d-none");
            });

            $("#btnReturnToCategories").click(function () {
                $("#ulCategories").removeClass("d-none");
                $("#ulCategories .active").removeClass("active");
                $("#mdlNewEstate div.tab-pane").removeClass("fade active show");
                $("#mdlNewEstate div.tab-content").addClass("d-none");
            });

            $("a.newEstateLink").click(function () {
                $("#IsBusy").modal("show");
                let estateTypeId = $(this).attr("data-EstateTypeId");
                $("#frmNew input[name='estateTypeId']").val(estateTypeId);
                $("#frmNew").submit();
            });

        })
        function filterByEstateType(s) {
            let idEstateType = $(s).val();            
            let estateType = estateTypes.find(i => i.id == idEstateType);     
            
            $("#frmFilters .form-group[class*='filter-']").each((i, fg) => {                
                $(fg).addClass("d-none");
                $(fg).find("input").val('').change();
                if (idEstateType==null || idEstateType=="") {
                    return;
                }
                let propName = fg.className.split(/\s+/).find(c => c.startsWith('filter-')).substring(7);                
                if (estateType[propName] === true)
                    $(fg).removeClass("d-none");
            })
        }
    </script>

    <script src="~/view-resources/Views/Estates/Index.js" asp-append-version="true"></script>
}