@using RoyalEstate.Web.Startup
@model RoyalEstate.Web.Models.Estates.CreateEstateVm

@{
    ViewBag.Title = L("Estates");
    ViewBag.CurrentPageName = PageNames.Estates;
}

@section styles
{
    <link rel="stylesheet" href="~/libs/select2/css/select2.min.css" asp-append-version="true" />
    

    <style>
        #imgThumbnails {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .imgThumbnail {
            width: 5rem;
            height: 5rem;
            display: flex;
            margin-left: 1rem;
            align-items: center;
            justify-content: center;
            border: 1px dashed black;
            position: relative;
        }

            .imgThumbnail img {
                width: 4.9rem;
                height: 4.9rem;
            }

            .imgThumbnail .deleteImg {
                position: absolute;
                top: 0.1rem;
                left: 0.1rem;
            }

                .imgThumbnail .deleteImg:hover {
                    cursor: pointer;
                    color: red !important
                }

        #imgSelector {
            width: 5rem;
            height: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background: white;
            border: 1px dashed black;
            transition: background-color 0.5s
        }

            #imgSelector:hover {
                cursor: pointer;
                background-color: burlywood
            }

        .select2-selection--single {
            height: 2.2rem !important
        }
    </style>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2 class="">@L("NewEstateFile")</h2>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header"></div>
                    <div class="card-body">
                        @using (Html.BeginForm("CreateEstate", "Estates", FormMethod.Post, new { id = "frmCreate", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <input asp-for="CreateEstateDto.EstateTypeId" type="hidden" />
                            <div class="row justify-content-center">
                                <div class="col-sm-12 col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <label asp-for="CreateEstateDto.Title">عنوان پرونده</label>
                                        <input asp-for="CreateEstateDto.Title" class="form-control" />
                                        <span asp-validation-for="CreateEstateDto.Title"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="CreateEstateDto.FilingCode">کد پرونده</label>
                                        <input asp-for="CreateEstateDto.FilingCode" class="form-control" />
                                    </div>

                                    @if (Model.EstateType.LegalDoc)
                                    {
                                        <label asp-for="CreateEstateDto.LegalDoc">وضعیت سند</label>
                                        <select asp-for="CreateEstateDto.LegalDoc" class="form-control">
                                            <option value="سند آزاد">سند آزاد</option>
                                            <option value="در دست اقدام">در دست اقدام</option>
                                            <option value="فاقد سند">فاقد سند</option>
                                            <option value="سند ورٍثه ای">سند ورٍثه ای</option>
                                        </select>
                                    }

                                    <div class="form-group">
                                        <label asp-for="CreateEstateDto.CustomerId">مشتری</label>
                                        <select asp-for="CreateEstateDto.CustomerId" asp-items="Model.Customers" id="CustomerId" class="form-control"></select>

                                    </div>
                                    <div class="form-group">
                                        <label asp-for="CreateEstateDto.CityId">شهر</label>
                                        <select asp-for="CreateEstateDto.CityId" asp-items="Model.Cities" id="CityId" class="form-control"></select>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="CreateEstateDto.DistrictId">منطقه شهری</label>
                                        <select asp-for="CreateEstateDto.DistrictId" id="DistrictId" class="form-control"></select>
                                    </div>



                                    @if (Model.EstateType.Area)
                                    {
                                        <div class="form-group ">
                                            <label asp-for="CreateEstateDto.Area">@L("AreaM2")</label>
                                            <input asp-for="CreateEstateDto.Area" type="number" class="form-control" />
                                        </div>
                                    }
                                    @if (Model.EstateType.Rooms)
                                    {
                                        <div class="form-group ">
                                            <label asp-for="CreateEstateDto.Rooms">@L("Rooms")</label>
                                            <input asp-for="CreateEstateDto.Rooms" type="number" class="form-control" />
                                        </div>
                                    }

                                    @if (Model.EstateType.MasterRoom)
                                    {
                                        <div class="form-group ">
                                            <label asp-for="CreateEstateDto.MasterRoom">@L("MasterRoom")</label>
                                            <select asp-for="CreateEstateDto.MasterRoom" class="form-control">
                                                <option value="false">@L("HasNot")</option>
                                                <option value="true">@L("Has")</option>
                                            </select>
                                        </div>
                                    }

                                    @if (Model.EstateType.Floor)
                                    {
                                        <div class="form-group ">
                                            <label asp-for="CreateEstateDto.Floor">@L("Floor")</label>
                                            <input asp-for="CreateEstateDto.Floor" type="number" class="form-control" />
                                        </div>
                                    }
                                    @if (Model.EstateType.TotalFloors)
                                    {
                                        <div class="form-group ">
                                            <label asp-for="CreateEstateDto.TotalFloors">@L("TotalFloors")</label>
                                            <input asp-for="CreateEstateDto.TotalFloors" type="number" min="1" class="form-control" />
                                        </div>
                                    }
                                    @if (Model.EstateType.UnitsPerFloor)
                                    {
                                        <div class="form-group">
                                            <label asp-for="CreateEstateDto.UnitsPerFloor">@L("UnitsPerFloor")</label>
                                            <input asp-for="CreateEstateDto.UnitsPerFloor" type="number" min="1" class="form-control" />
                                        </div>
                                    }
                                    @if (Model.EstateType.Parking)
                                    {
                                        <div class="form-group">
                                            <label asp-for="CreateEstateDto.Parking">@L("Parking")</label>
                                            <select asp-for="CreateEstateDto.Parking" class="form-control">
                                                <option value="true">@L("Has")</option>
                                                <option value="false">@L("HasNot")</option>
                                            </select>
                                        </div>
                                    }
                                    @if (Model.EstateType.Storeroom)
                                    {
                                        <div class="form-group">
                                            <label asp-for="CreateEstateDto.StoreRoom">@L("Storeroom")</label>
                                            <select asp-for="CreateEstateDto.StoreRoom" class="form-control">
                                                <option value="true">@L("Has")</option>
                                                <option value="false">@L("HasNot")</option>
                                            </select>
                                        </div>
                                    }
                                    @if (Model.EstateType.Elevator)
                                    {
                                        <div class="form-group">
                                            <label asp-for="CreateEstateDto.Elevator">@L("Elevator")</label>
                                            <select asp-for="CreateEstateDto.Elevator" class="form-control">
                                                <option value="true">@L("Has")</option>
                                                <option value="false">@L("HasNot")</option>
                                            </select>
                                        </div>
                                    }

                                    @*@if (Model.EstateType.BuiltDate)
                                    {
                                        <div class="form-group">
                                            <label asp-for="CreateEstateDto.BuiltDate">@L("BuiltDate")</label>
                                            <input asp-for="CreateEstateDto.BuiltDate" type="date" class="form-control" />
                                        </div>
                                    }*@

                                    @if (Model.EstateType.BuildYear)
                                    {
                                        <div class="form-group">
                                            <label asp-for="CreateEstateDto.BuildYear">@L("BuildYear")</label>
                                            <input asp-for="CreateEstateDto.BuildYear" type="number" class="form-control" />
                                        </div>
                                    }
                                    @if (Model.EstateType.BuildingDirection)
                                    {
                                        <label asp-for="CreateEstateDto.BuildingDirection">@L("BuildingDirection")</label>
                                        <select asp-for="CreateEstateDto.BuildingDirection" class="form-control">
                                            <option value="">"-"</option>
                                            <option value="جنوبی">جنوبی</option>
                                            <option value="شمالی">شمالی</option>
                                            <option value="دوکله">دوکله</option>
                                            <option value="جنوبی نبش">جنوبی نبش</option>
                                            <option value="شمالی نبش">شمالی نبش</option>
                                            <option value="شرقی/غربی">شرقی/غربی</option>
                                        </select>
                                    }

                                    @if (Model.EstateType.Price)
                                    {
                                        <div class="form-group">
                                            <label asp-for="CreateEstateDto.Price">@L("PricePerM2")</label>
                                            <input asp-for="CreateEstateDto.Price" type="number" min="0" class="form-control" />
                                        </div>
                                    }
                                    @if (Model.EstateType.Deposit)
                                    {
                                        <div class="form-group">
                                            <label asp-for="CreateEstateDto.Deposit">@L("Deposit")</label>
                                            <input asp-for="CreateEstateDto.Deposit" type="number" min="0" class="form-control" />
                                        </div>
                                    }
                                    @if (Model.EstateType.Rent)
                                    {
                                        <div class="form-group">
                                            <label asp-for="CreateEstateDto.Rent">@L("Rent")</label>
                                            <input asp-for="CreateEstateDto.Rent" type="number" min="0" class="form-control" />
                                        </div>
                                    }

                                    <div class="form-group">
                                        <label asp-for="CreateEstateDto.Address">آدرس</label>
                                        <textarea asp-for="CreateEstateDto.Address" class="form-control" rows="6"></textarea>
                                        <span asp-validation-for="CreateEstateDto.Address"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="CreateEstateDto.Description">توضیحات</label>
                                        <textarea asp-for="CreateEstateDto.Description" class="form-control" rows="6"></textarea>
                                        <span asp-validation-for="CreateEstateDto.Description"></span>
                                    </div>

                                    <div class="form-check" style="font-size: 1rem; font-weight: bold">
                                        <label asp-for="CreateEstateDto.IsActive" class="form-check-label">
                                            @L("IsActive")
                                            <input asp-for="CreateEstateDto.IsActive" type="checkbox" class="form-check-input mx-1" checked="checked" />
                                        </label>
                                    </div>

                                </div>
                            </div>
                            <label>عکس‌های پرونده ملکی</label>
                            <div class="row">
                                <div id="imgThumbnails" class="col-12">

                                    <div id="imgSelector" data-target="#inp1">
                                        <i class="fa fa-image" style="font-size: 2rem"></i>
                                    </div>
                                </div>
                            </div>
                            <div id="imgZone" style="visibility: hidden; position: absolute">
                                <input id="inp1" type="file" asp-for="CreateEstateDto.Images" accept="image/*" onchange="readUrl(this)"/>
                            </div>
                            <div class="row justify-content-end">
                                <button type="submit" class="btn btn-success">ثبت <i class="fa fa-check"></i></button>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

@section scripts{
    <script src="/libs/jquery.form/jquery.form.min.js"></script>
    <script src="~/libs/select2/js/select2.full.min.js" asp-append-version="true"></script>
    <script>
        $(() => {

            $("#frmCreate select:not(#DistrictId)").each((i, e) => {
                $(e).select2({
                    dir: 'rtl',
                    dropdownAutoWidth: true,
                    dropdownParent: $(e).parent()
                });
            });
            $.post("/Estates/GetDistricts",
                {
                    cityId: $("#CityId").val()
                },
                function (data, status) {
                    $("#DistrictId").select2({
                        dir: 'rtl',
                        dropdownAutoWidth: true,
                        dropdownParent: $("#DistrictId").parent(),
                        data: data.result.results
                    });
                });

            $("#CityId").change(function () {
                $("#DistrictId").val('').trigger("change");
                $.post("/Estates/GetDistricts",
                    {
                        cityId: $("#CityId").val()
                    },
                    function (data, status) {
                        $("#DistrictId option").remove();
                        data.result.results.forEach(d => {
                            var newOption = new Option(d.text, d.id, false, false);
                            $("#DistrictId").append(newOption);
                        });
                        $("#DistrictId").trigger('change');
                    });
            });
            $("#frmCreate").ajaxForm({
                beforeSubmit: () => {
                    $("#IsBusy").css("display", "block");
                    abp.ui.setBusy($("#frmCreate"));
                },
                success: function (data) {
                    $("#IsBusy").css("display", "none");
                    abp.ui.clearBusy($("#frmCreate"));
                    if (data.result.code == 0) {
                        sweetAlert("", "اطلاعات با موفقیت ثبت شد", "success");
                        $("#frmCreate").trigger("reset");
                        $("#imgThumbnails .imgThumbnail").remove();
                        $("#imgZone").empty();
                        $("#imgZone").append(`<input id="inp1" type="file" accept="image/*" name="CreateEstateDto.Images" />`);
                        $("#imgSelector").attr("data-target", "#inp1");
                        $("#inp1").change(function () {
                            readUrl(this);
                        })
                    } else {
                        sweetAlert("", "خطایی در سمت سرور رخ داد", "error");
                    }
                },
                error: function () {
                    $("#IsBusy").css("display", "none");
                    abp.ui.clearBusy($("#frmCreate"));
                    sweetAlert("", "خطایی در سمت سرور رخ داد", "error");
                }
            });
            $("#Elevator,#Parking,#StoreRoom").val('').change();
            $("#imgSelector").click(function () {
                let selector = $(this).attr("data-target");
                $(selector).trigger("click");
            });            
        });

        function readUrl(input) {
            if (input.files && input.files[0]) {
                if (!/^image\/.+$/.test(input.files[0].type)) {
                    $(input).val(null).change();
                    sweetAlert("", "فرمت ناصحیح", "error");
                    return;
                }
                console.log(input.files[0]);
                let id = $(input).prop("id");
                $("#imgSelector").before(`<div data-id="${id}" class="imgThumbnail">
                                                        <i class="fa fa-trash text-light deleteImg" onclick="deleteImg(this)"></i>
                                                        <img/>
                                                    </div>`);

                var blob = new Blob([input.files[0]]);
                var url = URL.createObjectURL(blob);
                var img = $(`#imgThumbnails div[data-id=${id}] img`)[0];
                img.onload = function () {
                    URL.revokeObjectURL(this.src);     // clean-up memory
                }
                img.src = url;
                let length = $("#imgZone input").length;
                let inpId = "inp" + (length + 1);
                $("#imgZone")
                    .append(
                        `<input id="${inpId}" type="file" accept="image/*" name="CreateEstateDto.Images" onchange="readUrl(this)"/>`);
                $("#imgSelector").attr("data-target", "#" + inpId);
            }
        }

        function deleteImg(e) {
            let inpId = $(e).parent().attr("data-id");
            $(e).parent().remove();
            $(`#imgZone input#${inpId}`).remove();
            $(`#imgZone input`).each((i, inp) => {
                $(inp).prop("id", "inp" + (i+1));
            });
            $("#imgThumbnails .imgThumbnail").each((i, t) => {
                $(t).attr("data-id", "inp" +(i + 1));
            })
            let length = $("#imgZone input").length;            
            $("#imgSelector").attr("data-target", "#" + "inp" + length);
        }
    </script>

}