@using RoyalEstate.Web.Startup
@model RoyalEstate.Web.Models.Estates.EstateVm
@{
    ViewBag.Title = L("Estates");
    ViewBag.CurrentPageName = PageNames.Estates;
}


@section styles
{
    <style>
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
        #estateSlider .carousel-inner img:hover {
            cursor: zoom-in;
        }
        #fullScreenSlider {
            display: none;
            flex-direction: row;
            justify-content: center;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.9);
            z-index: 100000000
        }
    </style>
}

<section class="content-header text-right">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h5 class="text-right">@L("RoyalEstates")</h5>
            </div>
        </div>
    </div>
</section>

<section class="content text-right">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-4">
                                <i class="fas fa-user"></i>
                                <span class="text-info text-bold">@Model.EstateDto.CustomerName @Model.EstateDto.CustomerSurname</span>
                            </div>
                            <div class="col-sm-4">
                                <i class="fas fa-mobile"></i>
                                <span class="text-info text-bold">@Model.EstateDto.CustomerCellPhone1</span>
                            </div>
                            <div class="col-sm-4">
                                <i class="fas fa-envelope"></i>
                                <span class="text-info text-bold">@Model.EstateDto.CustomerEmailAddress</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-8">
                                <div class="row">
                                    <div class="col-sm-6 order-2 order-sm-1">
                                        <h4>@Model.EstateDto.Title</h4>
                                        <ul class="list-group list-group-flush p-0 mb-3 mt-3">
                                            <li class="list-group-item">
                                                <div class="row justify-content-between">
                                                    <h6>متراژ</h6>
                                                    <span class="text-info text-bold">@Model.EstateDto.Area</span>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row justify-content-between">
                                                    <h6>تعداد اتاق</h6>
                                                    <span class="text-info text-bold">@Model.EstateDto.Rooms</span>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row justify-content-between">
                                                    <h6>طبقه</h6>
                                                    <span class="text-info text-bold">@Model.EstateDto.Floor</span>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row justify-content-between">
                                                    <h6>تعداد کل طبقات</h6>
                                                    <span class="text-info text-bold">@Model.EstateDto.TotalFloors</span>
                                                </div>
                                            </li>
                                        </ul>
                                        
                                        
                                        
                                        
                                        <h5>@L("Address")</h5>
                                        <p>@Model.EstateDto.Address</p>
                                    </div>
                                    <div class="col-sm-6 order-1 order-sm-2" dir="ltr">
                                        <div id="estateSlider" class="carousel slide w-100" data-ride="carousel">
                                            <ul class="carousel-indicators" >
                                                @{
                                                    int i = 0;
                                                    foreach (var item in Model.EstateDto.ImagePaths)
                                                    {
                                                        <li data-target="#estateSlider" data-slide-to="@i" class="@(i==0?"active":"")"></li>
                                                        i++;
                                                    }
                                                }
                                            </ul>
                                            <div class="carousel-inner">
                                                @{
                                                    i = 0;
                                                    foreach (var item in Model.EstateDto.ImagePaths)
                                                    {
                                                        <div class="carousel-item @(i==0?"active":"")">
                                                            <img src="@item" style="height:15rem" onclick="goFullScreen(this)"/>
                                                        </div>
                                                        i++;
                                                    }
                                                }
                                            </div>
                                            <a class="carousel-control-prev" href="#estateSlider" data-slide="prev">
                                                <span class="carousel-control-prev-icon"></span>
                                            </a>
                                            <a class="carousel-control-next" href="#estateSlider" data-slide="next">
                                                <span class="carousel-control-next-icon"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="fullScreenSlider" dir="ltr">
    <button class="btn close position-absolute" data-dismiss="#fullScreenSlider" 
            style="left:1vw; top:1vh; font-size:3rem; color:white; font-weight:bold"
            onclick="getOutFullScreen()">&times;</button>
    <div id="estateSlider2" class="carousel slide w-75" data-ride="carousel">
        <ul class="carousel-indicators">
            @{
                i = 0;
                foreach (var item in Model.EstateDto.ImagePaths)
                {
                    <li data-target="#estateSlider2" data-slide-to="@i" class="@(i==0?"active":"")"></li>
                    i++;
                }
            }
        </ul>
        <div class="carousel-inner">
            @{
                i = 0;
                foreach (var item in Model.EstateDto.ImagePaths)
                {
                    <div class="carousel-item @(i==0?"active":"")">
                        <img src="@item" style="height:90vh"/>
                    </div>
                    i++;
                }
            }
        </div>
        <a class="carousel-control-prev" href="#estateSlider2" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#estateSlider2" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>

@section scripts{ 
<script>
    function goFullScreen(i) {     
        let index = $(i).parent().index();        
        $(`#fullScreenSlider .carousel-indicators> li`).removeClass("active");
        $(`#fullScreenSlider .carousel-indicators> li:nth-child(${index+1})`).addClass("active");
        $(`#fullScreenSlider .carousel-inner> div`).removeClass("active");
        $(`#fullScreenSlider .carousel-inner> div:nth-child(${index + 1})`).addClass("active");
        $("#fullScreenSlider").css("display", "flex");
    }
    function getOutFullScreen() {
        $("#fullScreenSlider").css("display", "none");
    }
</script>
}