@using RoyalEstate.Web.Startup
@using System.ComponentModel.DataAnnotations;
@using DNTPersianUtils.Core;
@model RoyalEstate.Web.Models.Estates.EstateVm
@{
    ViewBag.Title = L("Estates");
    ViewBag.CurrentPageName = PageNames.Estates;
}


@section styles
{
    <style>

        .container-fluid {
            font: 'yekan';
        }

        .carousel-inner img {
            width: 100%;
            height: 100%;
        }

        #estateSlider .carousel-inner img:hover {
            cursor: zoom-in;
        }

        #fullScreenSlider {
            display: none;
            flex-direction: row;
            justify-content: center;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.9);
            z-index: 100000000
        }
    </style>
}

<section class="content-header text-right">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h5 class="text-right">@L("EstateDetails")</h5>
            </div>
        </div>
    </div>
</section>

<section class="content text-right">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-4">
                                <i class="fas fa-user"></i>
                                <span class="text-info text-bold">@("ثبت: " + Model.EstateDto.CreatorUserName) @Model.EstateDto.CreatorUserSurname</span>
                            </div>
                            <div class="col-sm-4">
                                <i class="fas fa-calendar"></i>
                                <span class="text-info text-bold">تاریخ ثبت: @Model.EstateDto.CreationTime.ToShortPersianDateString()</span>
                            </div>
                            <div class="col-sm-4">
                                <i class="fas fa-clock"></i>
                                <span class="text-info text-bold">کد پرونده: @Model.EstateDto.FilingCode</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-8">
                                <div class="row">
                                    <div class="col-sm-6 order-2 order-sm-1">
                                        <h4>@Model.EstateDto.Title</h4>
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped text-center">
                                                <thead>
                                                    <tr class="bg-info">
                                                        <td colspan="2">اطلاعات تماس</td>
                                                    </tr>                                                    
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th>مالک</th>
                                                        <td>@($"{Model.EstateDto.CustomerName} {Model.EstateDto.CustomerSurname}")</td>
                                                    </tr>
                                                    <tr>
                                                        <th>همراه</th>
                                                        <td>@Model.EstateDto.CustomerCellPhone1</td>
                                                    </tr>
                                                    <tr>
                                                        <th>ثابت</th>
                                                        <td>@Model.EstateDto.CustomerPhoneNumber1</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <ul class="list-group list-group-flush p-0 mb-3 mt-3">

                                            <li class="list-group-item">
                                                <div class="row justify-content-between">
                                                    <h6>کد :</h6>
                                                    <span class="text-info text-bold">@Model.EstateDto.FilingCode</span>
                                                    &nbsp
                                                    <h6>محله</h6>
                                                    <span class="text-info text-bold">@Model.EstateDto.DistrictName</span>
                                                </div>
                                            </li>


                                            <li class="list-group-item">
                                                <div class="row justify-content-between">
                                                    @if (Model.EstateDto.Price > 0)
                                                    {<h6>قیمت</h6>
                                                    <span class="text-info text-bold">@Model.EstateDto.Price (میلیون تومان)</span> }
                                                    else
                                                    {<h6>رهن</h6>
                                                    <span class="text-info text-bold">@Model.EstateDto.Deposit (میلیون تومان)</span>}
                                                </div>
                                            </li>

                                            <li class="list-group-item">
                                                <div class="row justify-content-between">
                                                    @if (Model.EstateDto.Price > 0)
                                                    {<h6>قیمت کل</h6>
                                                    <span class="text-info text-bold">@(Model.EstateDto.Price * Model.EstateDto.Area) (میلیون تومان)</span>}
                                                    else
                                                    {<h6>اجاره</h6>
                                                    <span class="text-info text-bold">@Model.EstateDto.Rent (میلیون تومان)</span>}
                                                </div>
                                            </li>

                                            @*<li class="list-group-item">
                                                <div class="row justify-content-between">
                                                    <h6>قیمت (میلیون تومان) </h6>
                                                    <span class="text-info text-bold">@Model.EstateDto.Price</span>
                                                    <h6>قیمت کل</h6>
                                                    <span class="text-info text-bold">)
</span>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row justify-content-between">
                                                    <h6> رهن (میلیون تومان) </h6>
                                                    <span class="text-info text-bold">@Model.EstateDto.Deposit</span>
                                                    <h6>:اجاره</h6>
                                                    <span class="text-info text-bold">@Model.EstateDto.Rent</span>
                                                </div>
                                            </li>*@
                                            <li class="list-group-item">
                                                <div class="row justify-content-between">
                                                    <h6>وضعیت سند</h6>
                                                    <span class="text-info text-bold">@Model.EstateDto.LegalDoc</span>
                                                    &nbsp
                                                    <h6>متراژ</h6>
                                                    <span class="text-info text-bold">@Model.EstateDto.Area</span>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row justify-content-between">
                                                    <h6>تعداد اتاق</h6>
                                                    <span class="text-info text-bold">@Model.EstateDto.Rooms</span>
                                                    &nbsp
                                                    <h6>اتاق مستر</h6>
                                                    <i class="fas @(Model.EstateDto.MasterRoom==true?"fa-check text-success":"fa-times text-danger")"></i>

                                                </div>
                                            </li>
                                            @*<li class="list-group-item">
                                                    <div class="row justify-content-between">
                                                        <h6>
                                                            @("طبقه:" + "  " + Model.EstateDto.Floor + "  " + " از: " + "  " + Model.EstateDto.TotalFloors
                                                            + "  " + " طبقه --- هر طبقه: " + "  " + Model.EstateDto.UnitsPerFloor + "  " + " واحد.")
                                                        </h6>
                                                    </div>
                                                </li>*@
                                            <li class="list-group-item">
                                                <div class="row justify-content-between">                                                    
                                                    <h6>طبقه: <span class="text-info text-bold">@Model.EstateDto.Floor</span></h6>
                                                    
                                                    <h6>مجموع طبقات: <span class="text-info text-bold">@Model.EstateDto.TotalFloors</span></h6>
                                                    
                                                    <h6>تعداد واحد هر طبقه: </h6>
                                                    
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row justify-content-between">
                                                    <h6>آسانسور</h6>
                                                    <i class="fas @(Model.EstateDto.Elevator==true?"fa-check text-success":"fa-times text-danger")"></i>
                                                    &nbsp
                                                    <h6>پارکینگ</h6>
                                                    <i class="fas @(Model.EstateDto.Parking==true?"fa-check text-success":"fa-times text-danger")"></i>
                                                    <label>&nbsp</label>
                                                    <h6>انباری</h6>
                                                    <i class="fas @(Model.EstateDto.StoreRoom==true?"fa-check text-success":"fa-times text-danger")"></i>
                                                </div>
                                            </li>
                                        </ul>

                                        <h5>@L("Address")</h5>
                                        <p>@Model.EstateDto.Address</p>
                                        <h5>@L("EstateDescription")</h5>
                                        <p>@Model.EstateDto.Description</p>
                                    </div>
                                    <div class="col-sm-6 order-1 order-sm-2" dir="ltr">
                                        <div id="estateSlider" class="carousel slide w-100" data-ride="carousel">
                                            <ul class="carousel-indicators">
                                                @{
                                                    int i = 0;
                                                    foreach (var item in Model.EstateDto.ImagePaths)
                                                    {
                                                        <li data-target="#estateSlider" data-slide-to="@i" class="@(i==0?"active":"")"></li>
                                                        i++;
                                                    }
                                                }
                                            </ul>
                                            <div class="carousel-inner">
                                                @{
                                                    i = 0;
                                                    foreach (var item in Model.EstateDto.ImagePaths)
                                                    {
                                                        <div class="carousel-item @(i==0?"active":"")">
                                                            <img src="@item" style="height:15rem" onclick="goFullScreen(this)" />
                                                        </div>
                                                        i++;
                                                    }
                                                }
                                            </div>
                                            <a class="carousel-control-prev" href="#estateSlider" data-slide="prev">
                                                <span class="carousel-control-prev-icon"></span>
                                            </a>
                                            <a class="carousel-control-next" href="#estateSlider" data-slide="next">
                                                <span class="carousel-control-next-icon"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="fullScreenSlider" dir="ltr">
    <button class="btn close position-absolute" data-dismiss="#fullScreenSlider"
            style="left:1vw; top:1vh; font-size:3rem; color:white; font-weight:bold"
            onclick="getOutFullScreen()">
        &times;
    </button>
    <div id="estateSlider2" class="carousel slide w-75" data-ride="carousel">
        <ul class="carousel-indicators">
            @{
                i = 0;
                foreach (var item in Model.EstateDto.ImagePaths)
                {
                    <li data-target="#estateSlider2" data-slide-to="@i" class="@(i==0?"active":"")"></li>
                    i++;
                }
            }
        </ul>
        <div class="carousel-inner">
            @{
                i = 0;
                foreach (var item in Model.EstateDto.ImagePaths)
                {
                    <div class="carousel-item @(i==0?"active":"")">
                        <img src="@item" style="height:90vh" />
                    </div>
                    i++;
                }
            }
        </div>
        <a class="carousel-control-prev" href="#estateSlider2" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#estateSlider2" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>

@section scripts{
    <script>
        function goFullScreen(i) {
            let index = $(i).parent().index();
            $(`#fullScreenSlider .carousel-indicators> li`).removeClass("active");
            $(`#fullScreenSlider .carousel-indicators> li:nth-child(${index + 1})`).addClass("active");
            $(`#fullScreenSlider .carousel-inner> div`).removeClass("active");
            $(`#fullScreenSlider .carousel-inner> div:nth-child(${index + 1})`).addClass("active");
            $("#fullScreenSlider").css("display", "flex");
        }
        function getOutFullScreen() {
            $("#fullScreenSlider").css("display", "none");
        }
    </script>
}